.search {
  text-align: center;
}
.input-with-select .el-select .el-input {
  width: 140px;
}

.banner {
  text-align: center;
}
.banner .banner-image {
    width: 100%;
    height: auto;
    max-width: 320px;
    max-height: 180px;
}

.navigation-github[data-v-6868e0ea] {
  text-align: right;
}
.navigation-github .github[data-v-6868e0ea] {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}
.navigation-github .github > img[data-v-6868e0ea] {
      width: 100%;
      height: 100%;
}

.commonList {
  background-color: #409eff;
  color: white;
}
.hotTechnologyList {
  background-color: #67c23a;
  color: white;
}
.standardList {
  background-color: #eb2f96;
  color: white;
}
.toolList {
  background-color: #e6a23c;
  color: white;
}
.blogList {
  background-color: #f56c6c;
  color: white;
}
.studyList {
  background-color: #909399;
  color: white;
}
.commonList-hover:hover {
  background-color: #409eff;
  color: white;
}
.hotTechnologyList-hover:hover {
  background-color: #67c23a;
  color: white;
}
.standardList-hover:hover {
  background-color: #eb2f96;
  color: white;
}
.toolList-hover:hover {
  background-color: #e6a23c;
  color: white;
}
.blogList-hover:hover {
  background-color: #f56c6c;
  color: white;
}
.studyList-hover:hover {
  background-color: #909399;
  color: white;
}
.common-panel {
  border: 1px solid #e2e2e2;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.common-panel .common-panel-title {
    padding-left: 20px;
    line-height: 40px;
}
.common-panel .common-panel-container {
    padding: 20px;
}
.common-panel .common-panel-container .common-panel-item {
      margin-bottom: 20px;
}
.common-panel .common-panel-container .common-panel-item > a {
        font-size: 14px;
        text-decoration: none;
        text-align: center;
}
.el-card__body {
  padding: 15px 10px !important;
}

.gotoTop[data-v-0fe9772c] {
  position: fixed;
  bottom: 80px;
  right: 80px;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  background-color: #409eff;
  color: white;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.el-select .el-input {
  width: 130px;
}
.input-with-select .el-input-group__prepend {
  background-color: #fff;
}
.el-header,
.el-footer {
  color: #333;
  text-align: center;
  line-height: 50px;
}
.el-header.el-footer,
  .el-footer.el-footer {
    line-height: 35px;
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #666;
    text-align: right;
    padding-right: 20px;
    font-size: 13px;
}
.el-header.el-footer > a,
    .el-footer.el-footer > a {
      text-decoration: none;
      color: #666;
}
.white-line {
  height: 12px;
}
.el-main {
  position: absolute;
  top: 50px;
  bottom: 35px;
  width: 100%;
}

